page-dashboard {

	ion-toolbar {

		h4 {
			span {
				border-bottom: 0.2em solid map_get($colors, secondary) !important;
			}
		}

		.toolbar-background {
			border-style: none !important;
		}
	}

	ion-content {
		ion-item-divider {
			border-bottom: 0.1em solid map_get($colors, light-gray) !important;
			h2 {
				font-weight: 600 !important;
			}
		}

		.inline-icon-number {
			display: inline;
			vertical-align: super;
		}

		.link-bellow-icon {
			margin-top: -0.7em;
		}

		ion-card-header {
			.inline-icon-number {
				font-size: 1.3rem;
			}
		}
	}
}
