page-shelter {

	ion-content {

		ion-card {
			display: unset;

			ion-card-header {
				overflow: initial;
				background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("../../assets/imgs/mission/dog_bg.jpg");
				background-position: center top;
				background-repeat: no-repeat;
				background-size: 100% 100%;
				height: 10.5em;

				.stars {
					margin-top: 0.5em;
					width: 30%;
				}

				.shelter {
					margin-top: 0.5em;
					.logo-shelter {
						width: 75%;
						max-width: 130px;
						border-radius: 50%;
						margin: auto;
						padding: 0.3em;
						box-shadow: 0 0 0 0.15em map_get($colors, secondary);
					}

					p {
						font-size: 3vw;
						padding-top: 0.7vw;
					}
				}

				ion-grid {
					.mission-icons {
						margin-top: 1.5em;
						p {
							line-height: 1em;
						}
					}
					.icon-mission {
						width: 50px !important;
						display: inline;
						height: 50px;
					}
				}
			}

			ion-card-content {
				margin-top: 15vw;

				.toolbar-options {
					h2 {
						span.active {
							border-bottom: 0.2em solid map_get($colors, secondary) !important;
						}
					}
				}

				h3 {
					font-size: 4vw;
					padding-top: 2vw;
				}
				p {
					font-size: 3vw;
				}

				.shelter-description {
					padding: 0 2.5em !important;

					.gallery {
						width: 90%;
						height: 6em;
						margin-top: 1em;
					}
				}

				.adoption-description {
					padding: 0 2.5em !important;
					margin-top: 10vh;
				}

				.lets-go-button {
					margin-top: 5vh;
				}

				.shelter-comments {
					ion-avatar {
						img {
							height: 45px;
							width: 45px;
							box-shadow: 0 0 0 0.12em map_get($colors, secondary);
							padding: 0.1em;
							border-radius: 100%;
						}
					}
				}

			}

			.mission-buttons {
				button {
					font-size: 3vw;
					height: 2.5em;
				}
			}
		}
	}
}
