<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>
			<img alt="logo" src="assets/imgs/map/logo_header.png">
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<div #mapElement id="mapElement"></div>
	
	<div id="missions-modal" class="missions-container-wrapper" *ngIf="showMissions">
		<!--<img id="carousel-next" src="arrow.png">-->
		<div class="missions-container" *ngIf="showMissions">
			<mission-modal *ngFor="let item of missions" [mission]="item.mission" [shelter]="shelter" [missionItems]="item.mission_items" (click)="dataMissionCardClick()"></mission-modal>
		</div>
		<div class="overlay" (click)="closeMissions()"></div>
	</div>
</ion-content>
