page-map {
	#mapElement {
		height: 100%;
		width: 100%;
	}

	ion-header {
		ion-navbar {
			img {
				max-width: 60%;
			}
		}
	}

	.mission-card {
		position: absolute;
		background: #FFFFFF;
		border-radius: 4px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		cursor: pointer;
		left: 50%;
		visibility: visible;
		height: 55vh;
		width: 80%;
		box-sizing: border-box;
		-moz-transition: all 0.4s ease-in-out;
		-webkit-transition: all 0.4s ease-in-out;
		transform: translate(-50%, -50%) !important;
	}

	.mission-card:nth-child(1) {
		z-index: 10;
		top: 45%;
		-webkit-transform-origin: bottom;
		transform-origin: top;
		-webkit-transform: scale(1);
		opacity: 1;
		width: 80%;
	}

	.mission-card:nth-child(2) {
		z-index: 9;
		top: 47%;
		-webkit-transform-origin: bottom;
		transform-origin: top;
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
		opacity: 0.9;
		width: 75%;
	}

	.mission-card:nth-child(3) {
		z-index: 8;
		top: 49%;
		-webkit-transform-origin: bottom;
		transform-origin: top;
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
		opacity: 0.8;
		width: 70%;
	}

	.mission-card:nth-child(4) {
		z-index: 7;
		top: 51%;
		-webkit-transform-origin: top;
		transform-origin: top;
		-webkit-transform: scale(0.7);
		transform: scale(0.7);
		opacity: 0.7;
		width: 65%;
	}

	.mission-card:nth-child(5) {
		z-index: 6;
		top: 53%;
		-webkit-transform-origin: top;
		transform-origin: top;
		-webkit-transform: scale(0.6);
		transform: scale(0.6);
		width: 60%;
	}

	.mission-card:nth-child(6) {
		z-index: 5;
		top: -75px;
		-webkit-transform-origin: top;
		transform-origin: top;
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
		width: 50%;
	}

	.overlay {
		background-color: #000;
		background: rgba(0, 0, 0, .5);
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 6;
	}
}
