page-map {
	#mapElement {
		height: 100%;
		width: 100%;
	}

	ion-header {
		ion-navbar {
			img {
				max-width: 60%;
			}
		}
	}

	.mission-card {
		position: absolute;
		background: #FFFFFF;
		border-radius: 5px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		cursor: pointer;
		left: 50%;
		visibility: visible;
		height: 70vh;
		width: 80%;
		box-sizing: border-box;
		-moz-transition: all 0.4s ease-in-out;
		-webkit-transition: all 0.4s ease-in-out;
		transform: translate(-50%, -50%) !important;

		@media screen and (min-width: 375px) and (min-height: 660px) and (max-height: 799px) {
			height: 65vh;
		}

		@media screen and (min-width: 375px) and (min-height: 800px) {
			height: 55vh;
		}

		@media screen and (min-width: 410px) and (min-height: 730px) {
			height: 62vh;
		}

		@media screen and (min-width: 410px) and (max-width: 500px) and (min-height: 820px) {
			height: 55vh;
		}

		ion-card {
			display: unset;

			ion-card-header {
				overflow: initial;
				background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("../assets/imgs/mission/dog_bg.jpg");
				background-position: center top;
				background-repeat: no-repeat;
				background-size: 100% 100%;
				height: 8.5em;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;

				h2 {
					font-size: 4.6vw;
				}

				.card-subtitle {
					font-size: 2.9vw;
				}

				.shelter {
					.logo-shelter {
						width: 75%;
						max-width: 130px;
						border-radius: 50%;
						margin: auto;
						padding: 0.3em;
						box-shadow: 0 0 0 0.15em map_get($colors, secondary);
					}

					p {
						font-size: 3vw;
						padding-top: 0.7vw;
					}
				}

				ion-grid {
					.mission-icons {
						margin-top: 4.5em;

						p {
							line-height: 0.9em;
							font-size: 2.5vw;
						}
					}
				}
			}

			ion-card-content {
				margin-top: 18vw;
				padding: 0 2.5em;
				line-height: 4vw !important;

				h3 {
					font-size: 4vw;
					padding-top: 2vw;
				}
				p {
					font-size: 3vw;
				}
			}
		}
	}

	.mission-card:nth-child(1) {
		z-index: 10;
		top: 45%;
		-webkit-transform-origin: bottom;
		transform-origin: top;
		-webkit-transform: scale(1);
		opacity: 1;
		width: 80%;
	}

	.mission-card:nth-child(2) {
		z-index: 9;
		top: 46%;
		-webkit-transform-origin: bottom;
		transform-origin: top;
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
		opacity: 0.9;
		width: 75%;
	}

	.mission-card:nth-child(3) {
		z-index: 8;
		top: 47%;
		-webkit-transform-origin: bottom;
		transform-origin: top;
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
		opacity: 0.8;
		width: 70%;
	}

	.mission-card:nth-child(4) {
		z-index: 7;
		top: 48%;
		-webkit-transform-origin: top;
		transform-origin: top;
		-webkit-transform: scale(0.7);
		transform: scale(0.7);
		opacity: 0.7;
		width: 65%;
	}

	.mission-card:nth-child(5) {
		z-index: 6;
		top: 49%;
		-webkit-transform-origin: top;
		transform-origin: top;
		-webkit-transform: scale(0.6);
		transform: scale(0.6);
		width: 60%;
	}

	.mission-card:nth-child(6) {
		z-index: 5;
		top: -75px;
		-webkit-transform-origin: top;
		transform-origin: top;
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
		width: 50%;
	}

	.overlay {
		background-color: #000;
		background: rgba(0, 0, 0, .5);
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 6;
	}
}
